/* .login-page-background-image {
    background-image: url("/images/background/smart-house.jpg");
} */

.page-container-secondary {
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(30, 61, 116, 1) 0%,
    rgba(41, 81, 150, 1) 63%
  );

  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.login-page-logo {
  width: 30vw;
}

.login-page-title {
  font-size: 4vh;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin: 0;
}

.login-page-container {
  width: 80vw;
  display: flex;
  flex-direction: column;
}

.login-page-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 43vh;
}

.login-page-inputs-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 23vh;
}

.login-page-input-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.login-page-label {
  width: 100%;
  text-align: left;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 2vh;
  margin: 0;
}

.login-page-input {
  border: none;
  width: 100%;
  border-bottom: 1px solid #fff;
  font-size: 3vh;
  background: transparent;
  color: #fff;
}

.login-page-input:focus {
  outline: none;
}

.login-page-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
}

.btn-login-form {
  width: 100%;
  font-size: 3vh;
  padding: 2vh;
  border: none;
  background: #fff;
  color: #055680;
  border-radius: 5vh;
  text-transform: uppercase;
  font-weight: bold;
}

.btn-login-form:disabled {
  cursor: not-allowed;
  opacity: 0.65;
  box-shadow: none;
}

.error-message-alert {
  text-align: left;
}

.error-message-alert .text-error {
  font-family: 'Ubuntu' !important;
  font-weight: bold;
}
