.weather-item-container {
    display: flex;
    color: white;
}

.weather-item-container .icon {
    padding: 1vh 3vw;
}

.weather-item-container .icon-fixed {
    padding: 1vh 4vw;
}

.weather-item-container .title {
    margin-bottom: 0;
    font-size: 2vh;
    width: fit-content;
}

.weather-item-container .detail {
    margin-bottom: 0;
    font-size: 3vh;
    font-weight: bold;
    width: fit-content;
}