.temperature-container {
    color: white;
}

.temperature-container .condition {
    width: fit-content;
    margin: 0;
    font-size: 4vh;
}

.temperature-container .address {
    width: fit-content;
    margin: 0;
    text-transform: capitalize;
    font-size: 2vh;
}

.temperature-container .degree {
    width: fit-content;
    margin: 0;
    font-size: 6vh;
    font-weight: bold;
}