.cardRec-content {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 2px solid #e9ebee;
}

.cardRec-icon {
    width: 17vw;
    margin: 4vw;
}

.cardRec-title-wrapper {
    display: flex;
    width: 100vw;
    text-align: left;
    flex-direction: column;
}

.cardRec-title {
    font-size: 4vw;
    color: black;
}

.cardRec-subTitle {
    font-size: 3vw;
    color: grey;
}

.cardRec-first {
    border-top-left-radius: 1vw;
    border-top-right-radius: 1vw;
}

.cardRec-last {
    border-bottom-left-radius: 1vw;
    border-bottom-right-radius: 1vw;
    border-bottom: none;
}