.card-item-container {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3%;
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 20px 0 rgba(0, 0, 0, 0.1);*/
    /* border: 3px solid #056eff; */
}

.card-item-content-icon {
    color: black;
    height: 50px;
    margin-bottom: 10%;
}

.card-item-container p {
    margin: 0;
}