.navigation-item-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.navigation-item-icon-disable {
    color: black !important;
    font-size: 7vw;
}

.navigation-item-icon-active {
    color: #3a7bd5 !important;
    font-size: 7vw;
}

.navigation-item-title-active {
    color: #3a7bd5;
}

.navigation-item-title-disable {
    color: black;
}