.navigation-item-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2%;
}

.navigation-item-icon-disable {
    color: black !important;
    font-size: 30px;
}

.navigation-item-icon-active {
    color: #f63 !important;
    font-size: 30px;
}

.navigation-item-container p {
    margin: 0
}


.navigation-item-title-active {
    color: #f63;
}

.navigation-item-title-disable {
    color: black;
}