.room-image-container {
    position: relative;
}

.room-image-content {
    max-width: 100%;
    height: 370px;
}

.room-image-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
}

.scrolling-wrapper {
    width: 88%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    align-self: center;
    display: flex;
    justify-content: space-between
}

.scrolling-wrapper .card-device-off {
    border-radius: 3%;
    background: white;
    height: 14vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6vw;
    position: relative;
}

.scrolling-wrapper .card-device-on {
    border-radius: 3%;
    background: linear-gradient(-180deg, #f53d2d, #f63);
    height: 14vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 6vw;
    position: relative;
}

.card-device-on span {
    color: white;
    margin-top: 1vh;
}

.card-device-off span {
    color: #f63;
    margin-top: 1vh;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.device-status-container {
    display: flex;
    position: absolute;
    top: 1vh;
    right: 4vw;
}

.dot-on {
    height: 2vh;
    width: 2vh;
    background-color: #0ab013;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
}

.dot-off {
    height: 2vh;
    width: 2vh;
    background-color: #f53d2d;
    border: 2px solid white;
    border-radius: 50%;
    display: inline-block;
}

.room-content-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    top: 6vh;
    height: 83vh;
    justify-content: space-between;
    align-items: center;
}