body {
    width: 100vw;
    height: 100vh;
}

p {
    margin: 0 !important;
}

.ant-switch-checked {
    background-color: #0EBEF5 !important;
}

.ant-select-selection:hover {
    border-color: #0EBEF5 !important;
    box-shadow: 0 0 0 2px rgba(255, 102, 51, 0.4) !important;
}

.ant-select-selection:focus {
    border-color: #0EBEF5 !important;
    box-shadow: 0 0 0 2px rgba(255, 102, 51, 0.4) !important;
}

.ant-select-selection:active {
    border-color: #0EBEF5 !important;
    box-shadow: 0 0 0 2px rgba(255, 102, 51, 0.4) !important;
}

.ant-input:focus {
    box-shadow: none !important;
}

.ant-time-picker-input {
    font-size: 3vh !important;
}

.ant-time-picker-panel-input {
    font-size: 3vh !important;
}

.page-container {
    text-align: center;
    background: #e9ebee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.page-content-wrapper {
    position: fixed;
    width: 100%;
    top: 6vh;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-self: center;
}

a:hover {
    color: black !important;
    text-decoration: none !important;
}

a:focus {
    text-decoration: none;
    color: black !important;
}